.rf-question-order-question-item{
	cursor: pointer;
}

.rf-question-order-question-item:hover{
	cursor: pointer;
	background-color: #E3E3E3;
	color: #666666;
}

.rf-question-option-container{
	padding: 1em;
	border: 1px solid #E9E9E9;
	margin-bottom: 1em;
	box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, .3);
    border-radius: 3px;	
}

.rf-question-option-container.round{
	border-radius: 4em;
}

.rf-option-image-display{
    height: 4em;
}
	
.rf-option-image-display.failed-image{
    height: inherit;
}

.rf-question-option-description{
	font-size: 12px;
}

#adminmenuwrap ul{
		margin-left: inherit;
}

#adminmenuwrap ul li{
		margin-left: inherit;
}

body{
	background: none;
}