.rf-options-container{
	border: 1px solid #E9E9E9;
	padding: 1em;
	background: whitesmoke;
}

.rf-options-container.stuck {
    position:fixed;
    top: 1em;
}

.rf-options-container .rf-option-lead{
	color: #444444;
	margin-bottom: 1.5em;
}

.rf-options-container .rf-option{
	border-bottom: 1px solid #E9E9E9;
	margin: .5em 0 .5em 0;
	color: #8E8E8E;
	font-weight: 400;
	font-size: 18px;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .2em;
	border-radius: 2px;
}

.rf-option{
    background-color: whitesmoke;
    -webkit-transition: background-color 900ms linear 0s;
    -moz-transition: background-color 900ms linear 0s;
    -o-transition: background-color 900ms linear 0s;
    -ms-transition: background-color 900ms linear 0s;
    transition: background-color 900ms linear 0s;
}

.rf-option.has-points .rf-option-count{
	color: #333333;
	font-weight: 500;
}

.rf-options-container .rf-option:last-child{
	border-bottom: none;
	margin-bottom: 0;
}

.rf-question-container{
	margin-bottom: 3em;
}

.rf-question-text{
	color: #444444;
}

.rf-question-text-container{
	margin-bottom: .5em;
}

.rf-question-option-container{
	padding: 1em;
	border: 1px solid #E9E9E9;
	margin-bottom: 1em;
	box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, .3);
    border-radius: 3px;	
/*		    -webkit-transition: background-color 300ms linear 0s;
    -moz-transition: background-color 300ms linear 0s;
    -o-transition: background-color 300ms linear 0s;
    -ms-transition: background-color 300ms linear 0s;
    transition: background-color 300ms linear 0s;*/
}

.rf-question-option-container.round{
	border-radius: 4em;
}

.rf-option-image-display{
    height: 2em;
}
	
.rf-option-image-display.failed-image{
    height: inherit;
}

.rf-question-option-container:hover{
	cursor: pointer;
	background-color: #E3E3E3;
}

.rf-question-option-description{
	font-size: 12px;
}

.orbit-bullets button{
	color: rgba(0,0,0,0.3);
	text-shadow: none;
}

.orbit-bullets button.is-active{
	color: rgba(0,0,0,1);
	text-shadow: none;
}